# Python 관련
*.pyc
__pycache__/
*.py[cod]

# Django 관련
*.log
local_settings.py
db.sqlite3
media
staticfiles

# 가상환경 (제일 중요!)
venv/
env/
.env

# IDE 설정 파일 (VSCode, Pycharm 등)
.idea/
.vscode/


# Simulation 앱 데이터
simulation/data/

# Analysis 앱 데이터
# RP_stats, Strong_2nd 관련 CSV 파일들을 무시.
analysis/data/

# D.S에서 또 무거운 것들
data_science/*.json
data_science/*.csv
data_science/*.xlsx


# Mac/Windows 시스템 파일 (협업 시 충돌 방지)
.DS_Store
Thumbs.db

# Data Science 하위 데이터 폴더들 (통째로 무시)
data_science/raw_data/
data_science/data/

# 혹시 주피터 노트북을 쓰게되면
.ipynb_checkpoints/


# 기타 예방
*.parquet